*{
    overflow: hidden;
   
}
.FSJA1{
    display: flex;
}
.main{
   overflow-y: scroll;
}
.main::-webkit-scrollbar {
    display: none;
}

.midbox{
   
    background-color: var(--bg-clr);
    /* height: 25rem; */
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.textbox{
    margin: 4rem;
    margin-top: 7rem;
    background-color: rgba(240, 248, 255, 0);
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h1text{
    display: flex;
    background-color: rgba(255, 0, 0, 0);
    font-size: 2.5rem;
    font-weight: 700;
    width: 30rem;
    max-width: 40rem;
    height: 100%;
    color: var(--h1txt-clr);
}
.h0text{
    background-color: rgba(235, 37, 37, 0);
    font-size: 1rem;
    width: 30rem;
    max-width: 40rem;
    height: 30%;
    color: var(--h2txt-clr);
}
.locationbox{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    height: 3.8rem;
    color: var(--h1txt-clr);
    width: 9rem;
    cursor: pointer;
    /* padding: 12px; */
    margin: 0.1rem 0; 
    border-right: 1.5px solid rgb(45, 79, 85);
    display: flex;
    background-color: var(--fg-clr);
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.locationList{
    outline: none;
}
.locationicon{
    display: flex;
    justify-content: center;
    align-items: center;
  /* height: 90%; */
    width: 20%;
    margin-right: 10px;
}
.Searchbox{
    margin-bottom: 0rem;
    /* margin-right: 7rem; */
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    /* margin-top: 0.6rem;
    margin-bottom: 0.5rem; */
    background-color: rgba(255, 255, 255, 0);
   
}
.Search{
   margin-right: 7rem;
   background-color: var(--fg-clr);
   border: 0px solid rgba(58, 88, 122, 0.308);
   outline: none;
   color: var(--h2txt-clr);
   margin: 0.1rem 0;
   padding: 0.9rem 0.75rem;
   width: 30%;
   
   

}
.iconbox1{
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   border: 0px solid rgba(58, 88, 122, 0.308);
   padding-left: 10px;
   padding-top: 6px;
   margin: 0.1rem 0;
   width: 4rem;
   background-color: var(--fg-clr);
    
}
.icongool{
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--bg-clr);
    box-shadow: rgb(0, 0, 0) 0px 0px 7px;
    height: 3.1rem;
    width: 3.1rem;
    padding: 20%;
    transition: 0.3s;
}
.icongool:hover{
    background-color: var(--bgltg-clr);
    box-shadow: rgb(0, 0, 0) 0px 1px 10px;
}
.iconin{
    background-color: transparent;
    
}
/* ========================center box================= */


.cardscrool{
    background-color: var(--fgltg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fill, minmax(350px, 33.33%)); */
}

/* ///////////////////////////////////////////////////////////////////////// */
.popup{
    background-color: var(--fg-clr);
}