.slider-range1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f1e8ff4b;
    height: 80%;
    width: 100%;
}
.file23{
    box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.123);
    padding: 10px;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 5px 5px 0px 0px;
    width: 20rem;
    height: 2.5rem;
    display: flex;
    background-color: azure;
}
.file23::-webkit-file-upload-button{
    background-color: rgba(250, 235, 215, 0);
    font-size: 13px;
    font-weight: 500;
    border: none;
    /* display: flex;
    width: 50%;
    flex-direction: column-reverse; */
}
.imgplace{
    box-shadow: 0px 0px 1px 0.5px rgba(0, 0, 0, 0.123);
    border-radius: 0px 0px 5px 5px;
    outline: none;
    background: #f0f8ff;
    width: 20rem;
    height: 16.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Fshow{
    /* box-shadow: 0px 0px 3px 0.5px rgba(0, 0, 0, 0.301); */
    border-radius: 5px 5px 5px 5px;
    outline: none;
    border:  2.2px dotted rgba(0, 0, 0, 0.192);
    background: #b1898900;
    width: 19rem;
    height: 15.5rem;
}
.h2{
    padding: 20px;
    font-weight: 500;
}
.nextox{
    background-color: rgba(127, 255, 212, 0);
    width: 100%;
    height: 18%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.bEtn{
    width: 4.3rem;
    height: 2rem;
    font-size: 14px;
    font-weight: 500;
    color: aliceblue;
    border-radius: 5px;
    background-color: rgb(77, 19, 212);
}
.title1{

    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    height: 3rem;
}
.disc{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    height: 10rem;
}
.num1{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 255, 255, 0);
    /* height: 11.9rem; */
    flex-wrap: wrap;
}
.feild5{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background-color: aliceblue;
    width: 100%;
    height: 100%;
}
.feild4{
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    background-color: aliceblue;
    width: 49%;
    height: 2.4rem;
}