*{
    overflow: hidden;
}
.main1{
    overflow-y: scroll;
}
.main1::-webkit-scrollbar{
    display: none;
}
.Edit1{
    background-color: rgba(160, 170, 226, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56.3rem;
    margin-top: 90px;
    /* margin-left: 15rem;
    margin-right: 15rem; */
}
.midEdit1{
    background-color: var(--bg-clr);
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    width: 35rem;
    height: 97%;
}
.topNv1{
    width: 100%;
    height: 3rem;
    color: aliceblue;
    background-color: var(--fg-clr);
}


.bckbtn1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    width: 3rem;
    background-color: rgba(240, 248, 255, 0);
}
.img1231{
    width: 1.6rem;
    background-color: rgba(240, 248, 255, 0);
}



.midl1{
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 100%;
    padding: 20px;
}
.txt0{
    width: 80%;
    height: 100%;
    background-color: transparent;
}
.savebtb{
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    cursor: pointer;
    background-color: var(--bg-userEdit-clr);
}
.savebtb:hover{
    
    background-color: var(--fg-clr);
}
.txt1{
    display: flex;
    align-items: center;
    /* text-align: start; */
    font-size: 20px;
    font-weight: 600;
    height: 4%;
    color: var(--h1txt-clr);
    background-color: rgba(255, 255, 255, 0);
}
.userFeild1{
    height: 25%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.prPic1{  
    border: 6px solid var(--fg-clr);
    /* margin-top: 20px; */
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}
.imguser1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 100%;
}
.userNameF1{
    /* height: 11%; */
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.FName1{
    font-weight: 500;
    margin-right: 0.2rem;
    width: 16.3rem;
    height: 100%;
    background-color: rgba(251, 253, 253, 0);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--h1txt-clr);
    font-size: 13px;
    margin-bottom: 10px;
}
.FName2{
    font-weight: 500;
    width: 16rem;
    height: 100%;
    background-color: rgba(251, 253, 253, 0);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    color: var(--h1txt-clr);
    font-size: 13px;
    margin-bottom: 10px;
}
.infid1{
    font-size: 17px;
    width: 99%;
    
    background-color: var(--bg-userEdit-clr);
    /* border: 2.3px solid var(--bg-lst-clr); */
    outline: none;
    padding: 9px;
    margin-top: 3px;
    border-radius: 5px;
}
.infid2{
    display: flex;
    align-self: center;
    font-size: 17px;
    width: 100%;
    /* margin-right: 1%; */
    background-color: var(--bg-userEdit-clr);
    /* border: 2.3px solid var(--bg-lst-clr); */
    outline: none;
    padding: 9px;
    margin-top: 3px;
    border-radius: 5px;
}
.EmailF1{
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--h1txt-clr);
    height: 10%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.infid3{
    font-size: 17px;
    width: 100%;
    background-color: var(--bg-userEdit-clr);
    /* border: 2.3px solid var(--bg-lst-clr); */
    outline: none;
    padding: 9px;
    margin-top: 3px;
    border-radius: 5px;
}