*{
    overflow: hidden;
}
.main{
    overflow-y: scroll;
}
.Edit{
    background-color: rgba(160, 170, 226, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56.3rem;
    margin-top: 90px;
    /* margin-left: 15rem;
    margin-right: 15rem; */
}
.midEdit{
    background-color: var(--bg-clr);
    box-shadow: 0 0 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    width: 45rem;
    height: 95%;
}
.topNv{
    width: 100%;
    height: 3rem;
    color: aliceblue;
    background-color: var(--fg-clr);
}
.bckbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
    width: 3rem;
    background-color: rgba(240, 248, 255, 0);
}
.img123{
    width: 1.6rem;
    background-color: rgba(240, 248, 255, 0);
}



.midl{
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    height: 100%;
    padding: 20px;
}
.txt{
    font-size: 20px;
    font-weight: 600;
    height: 4%;
    color: var(--h1txt-clr);
    background-color: rgba(255, 255, 255, 0);
}
.userFeild{
    height: 96%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
