
.popup{
    width: 50rem;
    cursor: pointer;
    color: var(--h2txt-clr);
    font-weight: 400;
}
.txte{
    font-size: 16px;
    font-weight: 500;
    color: rgb(109, 181, 214);
}
.popuplist{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    /* margin-top: 16rem; */
    position:relative;
    top: 0;
    right: 22%;
    border-radius: 5px;
    /* height: 3rem; */
    width: 17rem;
    background-color: var(--bg-lst-clr);
}
.localclass{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    color: var(--h2txt-clr);
    padding: 5px;
    margin: 5px;
    background-color: var(--fg-lst-clr);
}
.localclass:hover{
    background-color: var(--fg-lst-clr);
}
.listclass{
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: var(--h2txt-clr);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: var(--fg-lst-clr);
}
.listclass:hover{
    background-color: var(--fg-lst-clr);
}