*{
    margin: 0%;
    padding: 0%;
    background-color: var(--fgltg-clr);
    overflow: hidden;
}
.mainbox1{
    /* background-color:var(--bg-clr); */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
     
} 
.mainbox1::-webkit-scrollbar {
    display: none;
}
.logintext1{
   background-color: transparent;
   font-size: 2rem;
   font-weight: 500;
   color: var(--h1txt-clr);
   padding-bottom: 1rem;
}
.welcome1{
    background-color: transparent;
    padding-bottom: 1rem;
    color: var(--h2txt-clr);
}
.midllbox1{
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    margin-top: 15rem;
    border: 3px solid var(--fg-brdr-clr);
    margin-bottom: 17rem;
    padding: 1rem;
    background-color:var(--fg-lst-clr);
    /* height: 27rem; */
    width: 20rem;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    
}
.feild1{
    border-radius: 5px;
    border: 3px solid var(--fg-brdr-clr);
    outline: none;
    color: rgb(255, 255, 255);
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    /* background-color: var(--bg-lst-clr); */
    background-color: var(--bg-light-clr);
    width: 100%;
}
.ortext1{
    background-color: transparent;
    font-size: 1.2rem;
    color: var(--h2txt-clr);
}
.btn1{

    background-color: var(--bg-btn-clr);
    font-size: 1rem;
    padding: 0.2rem;
    margin: 0.5rem 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.validate1{
    background-color: transparent;
    color: rgb(255, 0, 0);
    font-size: 12px;
}