*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(234, 237, 255);
}
  
.colums{
    box-shadow: rgba(0, 0, 0, 0.137) 0px 1px 4px;
    position: fixed;
    height: 100%;
    width: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.midcol{
    overflow-y: scroll;
    margin: 0px;
    height: 96%; 
    width: 60px;
    background-color: rgba(0, 101, 148, 0);
} 
.midcol::-webkit-scrollbar {
    display: none;
}
.logobox{
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 4rem;
    height: 60px;
    width: 60px;
    background-color: rgb(0, 101, 148);
    box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 4px;
}

.logo{
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
}

.text{
   
    font-size: small;
    background-color: transparent;
    color: rgb(209, 209, 209);
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
}

.navlist2{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 60px;
    border-radius: 10px;
    height: 300px;
    width: 60px;
    background-color: rgba(0, 101, 148, 0.274);
    box-shadow: rgba(0, 0, 0, 0.274) 0px 0px 3px;
}
.navlist3{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    height: 200px;
    width: 60px;
    background-color: rgba(0, 101, 148, 0.274);
    box-shadow: rgba(0, 0, 0, 0.274) 0px 0px 3px;
}

.iconbox-l2{
    margin-top: 24px;
    padding: 8px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.137) 0px 0px 3px;
}
.iconbox-l3{
    margin-top: 16px;
    padding: 8px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.137) 0px 0px 3px;
}
.iconin{
    cursor: pointer;
    color: rgb(49, 23, 73);
}