.main123{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fot{
    background-color: var(--fg-clr);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 1.9rem;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--h2txt-clr);
    font-size: 12px;
    font-weight: 500;
}